{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="row">
      <div class="col-md-12">
          <a name="99" style="position:absolute; top:-100px;"></a>
          <h2 class="text-center">Season 1 Day 99</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">



        <h4 class="text-white text-center">Hot League</h4>



        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <div>
                <h6><span class="team1color team1name">San Diego Balloon Animals</span> <small>(10-5)</small></h6>
            </div>
            <div>
                <h6><span class="team2color team2name">Detroit Grape Chews</span> <small>(5-10)</small></h6>
            </div>
            <div>
                Map: <span class="pattern-name">East Hellmouth</span>
            </div>
            <div>
                <button style="margin-top: 20px;" type="button" class="btn btn-primary btn-sm btn-success">View Simulation ></button>
            </div>
          </div>
          </a>
        </div>


        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <div>
                <h6><span class="team1color team1name">San Diego Balloon Animals</span> <small>(10-5)</small></h6>
            </div>
            <div>
                <h6><span class="team2color team2name">Detroit Grape Chews</span> <small>(5-10)</small></h6>
            </div>
            <div>
                Map: <span class="pattern-name">East Hellmouth</span>
            </div>
            <div>
                <button style="margin-top: 20px;" type="button" class="btn btn-primary btn-sm btn-success">View Simulation ></button>
            </div>
          </div>
          </a>
        </div>


        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <div>
                <h6><span class="team1color team1name">San Diego Balloon Animals</span> <small>(10-5)</small></h6>
            </div>
            <div>
                <h6><span class="team2color team2name">Detroit Grape Chews</span> <small>(5-10)</small></h6>
            </div>
            <div>
                Map: <span class="pattern-name">East Hellmouth</span>
            </div>
            <div>
                <button style="margin-top: 20px;" type="button" class="btn btn-primary btn-sm btn-success">View Simulation ></button>
            </div>
          </div>
          </a>
        </div>


        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <div>
                <h6><span class="team1color team1name">San Diego Balloon Animals</span> <small>(10-5)</small></h6>
            </div>
            <div>
                <h6><span class="team2color team2name">Detroit Grape Chews</span> <small>(5-10)</small></h6>
            </div>
            <div>
                Map: <span class="pattern-name">East Hellmouth</span>
            </div>
            <div>
                <button style="margin-top: 20px;" type="button" class="btn btn-primary btn-sm btn-success">View Simulation ></button>
            </div>
          </div>
          </a>
        </div>


      </div>




      <div class="col-md-6">



        <h4 class="text-white text-center">Cold League</h4>



        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <div>
                <h6><span class="team1color team1name">San Diego Balloon Animals</span> <small>(10-5)</small></h6>
            </div>
            <div>
                <h6><span class="team2color team2name">Detroit Grape Chews</span> <small>(5-10)</small></h6>
            </div>
            <div>
                Map: <span class="pattern-name">East Hellmouth</span>
            </div>
            <div>
                <button style="margin-top: 20px;" type="button" class="btn btn-primary btn-sm btn-success">View Simulation ></button>
            </div>
          </div>
          </a>
        </div>


        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <div>
                <h6><span class="team1color team1name">San Diego Balloon Animals</span> <small>(10-5)</small></h6>
            </div>
            <div>
                <h6><span class="team2color team2name">Detroit Grape Chews</span> <small>(5-10)</small></h6>
            </div>
            <div>
                Map: <span class="pattern-name">East Hellmouth</span>
            </div>
            <div>
                <button style="margin-top: 20px;" type="button" class="btn btn-primary btn-sm btn-success">View Simulation ></button>
            </div>
          </div>
          </a>
        </div>


        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <div>
                <h6><span class="team1color team1name">San Diego Balloon Animals</span> <small>(10-5)</small></h6>
            </div>
            <div>
                <h6><span class="team2color team2name">Detroit Grape Chews</span> <small>(5-10)</small></h6>
            </div>
            <div>
                Map: <span class="pattern-name">East Hellmouth</span>
            </div>
            <div>
                <button style="margin-top: 20px;" type="button" class="btn btn-primary btn-sm btn-success">View Simulation ></button>
            </div>
          </div>
          </a>
        </div>


        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <div>
                <h6><span class="team1color team1name">San Diego Balloon Animals</span> <small>(10-5)</small></h6>
            </div>
            <div>
                <h6><span class="team2color team2name">Detroit Grape Chews</span> <small>(5-10)</small></h6>
            </div>
            <div>
                Map: <span class="pattern-name">East Hellmouth</span>
            </div>
            <div>
                <button style="margin-top: 20px;" type="button" class="btn btn-primary btn-sm btn-success">View Simulation ></button>
            </div>
          </div>
          </a>
        </div>


      </div>



      </div>
    </div>


</div>

{% endblock %}
