{% extends 'base.html' %}
{% block content %}

<template id="minilife-template">
  {% include "minilife.html" %}
</template>

<template id="fished-game-template">
  {% include "finished_game.html" %}
</template>

<template id="fished-postgame-template">
  {% include "finished_postgame.html" %}
</template>

<template id="inprogress-game-template">
  {% include "inprogress_game.html" %}
</template>

<template id="inprogress-postgame-template">
  {% include "inprogress_postgame.html" %}
</template>

<template id="scheduled-game-template">
  {% include "scheduled_game.html" %}
</template>

<template id="scheduled-postgame-template">
  {% include "scheduled_postgame.html" %}
</template>

<div class="container invisible" id="container-mode0009">

    <div class="row text-offwhite text-center landing-header">
      <div class="col-md-12">
        <h2>Season 1 will begin soon!</h2>
      </div>
    </div>

    <div class="row text-center landing-header">
      <div class="col-md-12">
        <p>The next season will begin soon. In the meantime, here is a Game of Life simulator...</p>
      </div>
    </div>

    <div class="vspace40">
    </div>

    <div class="minilife" id="minilife-player">
    </div>

</div>



<div class="container invisible" id="container-mode1019">

    <div class="row text-center landing-header">
      <div class="col-md-12">
          <h2>Season 1 Day 99: Current Golly Games</h2>
      </div>
    </div>


    <div class="row justify-content-lg-center" id="season-leagues-container">
      <div class="col-md-5 league-container" id="league-1-container">
        <h4 class="text-center league-container-header" id="league-1-header"><span id="league-1-name"></span></h4>
      </div>

      <div class="col-md-5 league-container" id="league-2-container">
        <h4 class="text-center league-container-header" id="league-2-header"><span id="league-2-name"></span></h4>
      </div>
    </div>

</div>



<div class="container container-mode2029 invisible" id="container-mode21">

    <div class="row text-center landing-header">
      <div class="col-md-12">
        <h2>Season 1: Golly League Division Series</h2>
        <h4>This best of 5 series will begin soon!</h4>
      </div>
    </div>


    <div class="row justify-content-md-center waiting-container" id="lds-waiting-container">
      <div class="col-md-5 league-container league-1-container">
      </div>

      <div class="col-md-5 league-container league-2-container">
      </div>
    </div>

    <div class="row text-center landing-header-below seed-header">
      <div class="col-md-12">
        <h2>Postseason Seeds</h2>
      </div>
    </div>

    <div class="row justify-content-md-center seed-table" id="lds-seed-table">
    </div>

</div>




<div class="container container-mode2029 invisible" id="container-mode22">

    <div class="row text-center landing-header">
      <div class="col-md-12">
        <h2>Season 1: Golly League Championship Series</h2>
        <h4>This best of 5 series will begin soon!</h4>
      </div>
    </div>

    <div class="row justify-content-md-center waiting-container" id="lcs-waiting-container">
      <div class="col-md-5 league-container league-1-container">
      </div>

      <div class="col-md-5 league-container league-2-container">
      </div>
    </div>

    <div class="row text-center landing-header-below seed-header">
      <div class="col-md-12">
        <h2>Postseason Seeds</h2>
      </div>
    </div>

    <div class="row justify-content-md-center seed-table" id="lcs-seed-table">
    </div>


</div>



<div class="container container-mode2029 invisible" id="container-mode23">


    <div class="row text-center landing-header">
      <div class="col-md-12">
        <h2>Season 1: Golly World Series</h2>
        <h4>This best of 7 series will begin soon!</h4>
      </div>
    </div>

    <div class="row justify-content-md-center waiting-container" id="ws-waiting-container">
      <div class="col-md-5 ws-league-like-container">
      </div>
    </div>


    <div class="row text-center landing-header-below seed-header">
      <div class="col-md-12">
        <h2>Postseason Seeds</h2>
      </div>
    </div>

    <div class="row justify-content-md-center seed-table" id="ws-seed-table">
    </div>


</div>



<div class="container container-mode3039 invisible" id="container-mode31">


    <div class="row text-center landing-header">
      <div class="col-md-12">
          <h2>Season 1: Golly League Division Series</h2>
          <h4>Best of 5</h4>
      </div>
    </div>


    <div class="row justify-content-md-center ongoing-container lds-ongoing-container">
      <div class="col-md-4 league-container league-1-container">
      </div>

      <div class="col-md-4 league-container league-2-container">
      </div>
    </div>



    <div class="row text-center landing-header-below" id="lds-seed-table-ongoing">
      <div class="col-md-12">
        <h2>Postseason Seeds</h2>
      </div>
    </div>

    <div class="row justify-content-md-center seed-table">
    </div>


</div>




<div class="container container-mode3039 invisible" id="container-mode32">


    <div class="row text-center landing-header">
      <div class="col-md-12">
          <h2>Season 1: Golly League Championship Series</h2>
          <h4>Best of 5</h4>
      </div>
    </div>



    <div class="row justify-content-md-center ongoing-container lcs-ongoing-container">
      <div class="col-md-4 league-container league-1-container">
      </div>

      <div class="col-md-4 league-container league-2-container">
      </div>
    </div>


    <div class="row text-center landing-header-below" id="lcs-seed-table-ongoing">
      <div class="col-md-12">
        <h2>Postseason Seeds</h2>
      </div>
    </div>

    <div class="row justify-content-md-center seed-table">
    </div>


</div>



<div class="container container-mode3039 invisible" id="container-mode33">


    <div class="row text-center landing-header">
      <div class="col-md-12">
          <h2>Season 1: Golly World Series</h2>
          <h4>Best of 7</h4>
      </div>
    </div>


    <div class="row justify-content-md-center ongoing-container ws-ongoing-container">
    </div>


    <div class="row text-center landing-header-below" id="ws-seed-table-ongoing">
      <div class="col-md-12">
        <h2>Postseason Seeds</h2>
      </div>
    </div>


    <div class="row justify-content-md-center seed-table">
    </div>


</div>


<div class="container invisible" id="container-mode40plus">


    <h2 class="text-center champion-header">Season 1 has ended.<h2>
    <h3 class="text-center champion-header">Your Golly Champions are: The <span id="champion-team">Team That Slipped The Commissioner A $20</span>!</h3>

    <div class="row text-center landing-header">
      <div class="col-md-12">
        <p>The next season will begin soon. In the meantime, here is a Game of Life simulator...</p>
      </div>
    </div>

    <div class="vspace40">
    </div>

    <div class="minilife" id="minilife">
    </div>


</div>

<div class="container invisible" id="container-error">

    <div class="row text-offwhite text-center landing-header">
      <div class="col-md-12">
        <h2 class="text-danger">The site is temporarily down.</h2>
      </div>
    </div>

    <div class="row text-center landing-header">
      <div class="col-md-12">
        <p>
        Ninjas have been dispatched to track down those responsible for the downtime
        and bring them back to Hellmouth Community College to fix the site.
        </p>
        <p>
        In the meantime, here is a Game of Life simulator...
        </p>
      </div>
    </div>

    <div class="vspace40">
    </div>

    <div class="minilife" id="minilife-player">
    </div>

</div>


{% endblock %}
{% block javascript %}
<script type="text/javascript" src="/theme/js/json-sans-eval.js"></script>
<script type="text/javascript" src="/theme/js/minilife_core.js"></script>
<script type="text/javascript" src="landing.js"></script>
{% endblock %}
