{% extends 'base.html' %}
{% block content %}

<div class="container">

  <h1 class="season-header">Maps</h1>



  <div class="row">



    <div class="col-md-3">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <img width="100%" src="{{ SITEURL }}/img/fourrabbits.png" />
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>




    <div class="col-md-3">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <img width="100%" src="{{ SITEURL }}/img/twospaceshipgenerators.png" />
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>




    <div class="col-md-3">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <img width="100%" src="{{ SITEURL }}/img/eightpi.png" />
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>




    <div class="col-md-3">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <img width="100%" src="{{ SITEURL }}/img/eightr.png" />
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>




    <div class="col-md-3">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <img width="100%" src="{{ SITEURL }}/img/fourrabbits.png" />
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>




    <div class="col-md-3">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <img width="100%" src="{{ SITEURL }}/img/twospaceshipgenerators.png" />
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>




    <div class="col-md-3">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <img width="100%" src="{{ SITEURL }}/img/eightpi.png" />
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>




    <div class="col-md-3">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <img width="100%" src="{{ SITEURL }}/img/eightr.png" />
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>


  </div>

</div>

{% endblock %}
