{% extends 'base.html' %}
{% block content %}

<div class="container">



    <div class="row">
      <div class="col-md-12">
          <h2 class="text-center">Day 5</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

        <h4 class="text-white text-center">Hot League</h4>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>

            <div>
                            <table width="100%"><tr><td>
                              <span class="team1color team1name">San Diego Balloon Animals</span>
                            </td><td align="right">
                              <b>
                              <span class="team1color" id="livecells1">251</span>
                              </b>
                            </td></tr></table>
            </div>

            <div>
                            <table width="100%"><tr><td>
                              <span class="team2color team2name">Detroit Grape Chews</span>
                            </td><td align="right">
                              <b>
                              <span class="team2color" id="livecells2">250</span>
                              </b>
                            </td></tr></table>
            </div>

          </div>
          </a>
        </div>



        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>

            <div>
                            <table width="100%"><tr><td>
                              <span class="team1color team1name">San Diego Balloon Animals</span>
                            </td><td align="right">
                              <b>
                              <span class="team1color" id="livecells1">251</span>
                              </b>
                            </td></tr></table>
            </div>

            <div>
                            <table width="100%"><tr><td>
                              <span class="team2color team2name">Detroit Grape Chews</span>
                            </td><td align="right">
                              <b>
                              <span class="team2color" id="livecells2">250</span>
                              </b>
                            </td></tr></table>
            </div>

          </div>
          </a>
        </div>


        <div class="card text-white">
          <a href="#" style="text-decoration: none;">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>

            <div>
                            <table width="100%"><tr><td>
                              <span class="team1color team1name">San Diego Balloon Animals</span>
                            </td><td align="right">
                              <b>
                              <span class="team1color" id="livecells1">251</span>
                              </b>
                            </td></tr></table>
            </div>

            <div>
                            <table width="100%"><tr><td>
                              <span class="team2color team2name">Detroit Grape Chews</span>
                            </td><td align="right">
                              <b>
                              <span class="team2color" id="livecells2">250</span>
                              </b>
                            </td></tr></table>
            </div>

          </div>
          </a>
        </div>



        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>

            <div>
                            <table width="100%"><tr><td>
                              <span class="team1color team1name">San Diego Balloon Animals</span>
                            </td><td align="right">
                              <b>
                              <span class="team1color" id="livecells1">251</span>
                              </b>
                            </td></tr></table>
            </div>

            <div>
                            <table width="100%"><tr><td>
                              <span class="team2color team2name">Detroit Grape Chews</span>
                            </td><td align="right">
                              <b>
                              <span class="team2color" id="livecells2">250</span>
                              </b>
                            </td></tr></table>
            </div>

          </div>
          </a>
        </div>


      </div>
      <div class="col-md-6">

        <h4 class="text-white text-center">Cold League</h4>

        <div class="card text-white">
          <a href="#" style="text-decoration: none;">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>

            <div>
                            <table width="100%"><tr><td>
                              <span class="team1color team1name">San Diego Balloon Animals</span>
                            </td><td align="right">
                              <b>
                              <span class="team1color" id="livecells1">251</span>
                              </b>
                            </td></tr></table>
            </div>

            <div>
                            <table width="100%"><tr><td>
                              <span class="team2color team2name">Detroit Grape Chews</span>
                            </td><td align="right">
                              <b>
                              <span class="team2color" id="livecells2">250</span>
                              </b>
                            </td></tr></table>
            </div>

          </div>
          </a>
        </div>


        <div class="card text-white">
          <a href="#" style="text-decoration: none;">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>

            <div>
                            <table width="100%"><tr><td>
                              <span class="team1color team1name">San Diego Balloon Animals</span>
                            </td><td align="right">
                              <b>
                              <span class="team1color" id="livecells1">251</span>
                              </b>
                            </td></tr></table>
            </div>

            <div>
                            <table width="100%"><tr><td>
                              <span class="team2color team2name">Detroit Grape Chews</span>
                            </td><td align="right">
                              <b>
                              <span class="team2color" id="livecells2">250</span>
                              </b>
                            </td></tr></table>
            </div>

          </div>
          </a>
        </div>


        <div class="card text-white">
          <a href="#" style="text-decoration: none;">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>

            <div>
                            <table width="100%"><tr><td>
                              <span class="team1color team1name">San Diego Balloon Animals</span>
                            </td><td align="right">
                              <b>
                              <span class="team1color" id="livecells1">251</span>
                              </b>
                            </td></tr></table>
            </div>

            <div>
                            <table width="100%"><tr><td>
                              <span class="team2color team2name">Detroit Grape Chews</span>
                            </td><td align="right">
                              <b>
                              <span class="team2color" id="livecells2">250</span>
                              </b>
                            </td></tr></table>
            </div>

          </div>
          </a>
        </div>


        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>

            <div>
                            <table width="100%"><tr><td>
                              <span class="team1color team1name">San Diego Balloon Animals</span>
                            </td><td align="right">
                              <b>
                              <span class="team1color" id="livecells1">251</span>
                              </b>
                            </td></tr></table>
            </div>

            <div>
                            <table width="100%"><tr><td>
                              <span class="team2color team2name">Detroit Grape Chews</span>
                            </td><td align="right">
                              <b>
                              <span class="team2color" id="livecells2">250</span>
                              </b>
                            </td></tr></table>
            </div>

          </div>
          </a>
        </div>



      </div>
    </div>

</div>

{% endblock %}
