{% extends 'base.html' %}
{% block content %}

<div class="container">

    <h1 class="text-center season-header">Season 5</h1>

    <div class="row justify-content-md-center season-toc">
        <div class="col-lg-8">
        <p class="text-center lead">Jump to:</p>

        <p class="text-center lead">
        <a href="#99">99</a>
        &bull;
        <a href="#98">98</a>
        &bull;
        <a href="#97">97</a>
        &bull;
        <a href="#96">96</a>
        &bull;
        <a href="#95">95</a>
        </div>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
















    <div class="row">
      <div class="col-md-12">
          <a name="99" style="position:absolute; top:-100px;"></a>
          <h2 class="text-center">Day 99</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

        <h4 class="text-white text-center">Hot League</h4>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>


      </div>
      <div class="col-md-6">

        <h4 class="text-white text-center">Cold League</h4>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>



      </div>
    </div>









    <div class="row">
      <div class="col-md-12">
          <a name="98" style="position:absolute; top:-100px;"></a>
          <h2 class="text-center">Day 98</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

        <h4 class="text-white text-center">Hot League</h4>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>


      </div>
      <div class="col-md-6">

        <h4 class="text-white text-center">Cold League</h4>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>



      </div>
    </div>









    <div class="row">
      <div class="col-md-12">
          <a name="97" style="position:absolute; top:-100px;"></a>
          <h2 class="text-center">Day 97</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

        <h4 class="text-white text-center">Hot League</h4>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>


      </div>
      <div class="col-md-6">

        <h4 class="text-white text-center">Cold League</h4>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>



      </div>
    </div>









    <div class="row">
      <div class="col-md-12">
          <a name="96" style="position:absolute; top:-100px;"></a>
          <h2 class="text-center">Day 96</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

        <h4 class="text-white text-center">Hot League</h4>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>


      </div>
      <div class="col-md-6">

        <h4 class="text-white text-center">Cold League</h4>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>



      </div>
    </div>









    <div class="row">
      <div class="col-md-12">
          <a name="95" style="position:absolute; top:-100px;"></a>
          <h2 class="text-center">Day 95</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

        <h4 class="text-white text-center">Hot League</h4>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>


      </div>
      <div class="col-md-6">

        <h4 class="text-white text-center">Cold League</h4>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>

        <div class="card text-white">
          <a href="#" class="card-nodecoration">
          <div class="card-body">
            <h5 class="card-title">East Hellmouth</h5>
            <div>
                <table width="100%"><tr><td>
                  <span class="team1color team1name">San Diego Balloon Animals</span>
                </td><td align="right">
                  <b>
                  <span class="team1color" id="livecells1">251</span>
                  </b>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <span class="team2color team2name">Detroit Grape Chews</span>
                </td><td align="right">
                  <b>
                  <span class="team2color" id="livecells2">250</span>
                  </b>
                </td></tr></table>
            </div>
          </div>
          </a>
        </div>



      </div>
    </div>




</div>

{% endblock %}
