{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="row text-center landing-header">
      <div class="col-md-12">
          <h2>Season 1 Day 99: Current Games</h2>
      </div>
    </div>


    <div class="row justify-content-md-center">

      <div class="col-md-5">

        <h4 class="text-center">Hot League</h4>

        {% include "inprogress_game.html" %}

        {% include "inprogress_game.html" %}

        {% include "inprogress_game.html" %}

        {% include "inprogress_game.html" %}

      </div>


      <div class="col-md-5">

        <h4 class="text-center">Cold League</h4>

        {% include "inprogress_game.html" %}

        {% include "inprogress_game.html" %}

        {% include "inprogress_game.html" %}

        {% include "inprogress_game.html" %}

      </div>


    </div>


</div>

{% endblock %}
