{% extends 'base.html' %}
{% block content %}

<div class="container">

    <h2 class="text-center champion-header">Season 1 has ended.<h2>
    <h3 class="text-center champion-header">Your Golly Champions are: The <span id="champion-team">San Diego Balloon Animals!</span></h3>

    <div class="row text-center landing-header">
      <div class="col-md-12">
        <p>The next season will begin soon. In the meantime, here is a smol Game of Life simulator...</p>
      </div>
    </div>

</div>

{% endblock %}
