{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="row text-center">
      <div class="col-md-12">
        <a name="99" style="position:absolute; top:-100px;"></a>
        <h2>Season 1 playoffs will begin soon!</h2>
      </div>
    </div>


    <div class="row justify-content-md-center seed-table">
        <div class="col-md-4">
            <div class="card bg-primary mb-3">
                <h4 class="card-header text-white">Hot League Playoff Seeds</h4>

                <ul class="list-group list-group-flush text-left">

                    <li class="list-group-item scoreboard-panel" id="scoreboard-panel-livecells1">
                        <table width="100%"><tr><td>
                          <span class="seed1color seed1name">Alewife Arsonists</span>
                        </td><td align="right">
                          <b>
                          1
                          </b>
                        </td></tr></table>
                    </li>

                    <li class="list-group-item scoreboard-panel" id="scoreboard-panel-livecells1">
                        <table width="100%"><tr><td>
                          <span class="seed1color seed1name">Orlando Business Majors</span>
                        </td><td align="right">
                          <b>
                          2
                          </b>
                        </td></tr></table>
                    </li>

                    <li class="list-group-item scoreboard-panel" id="scoreboard-panel-livecells1">
                        <table width="100%"><tr><td>
                          <span class="seed1color seed1name">San Diego Balloon Animals</span>
                        </td><td align="right">
                          <b>
                          3
                          </b>
                        </td></tr></table>
                    </li>

                    <li class="list-group-item scoreboard-panel" id="scoreboard-panel-livecells1">
                        <table width="100%"><tr><td>
                          <span class="seed1color seed1name">Detroit Grape Chews</span>
                        </td><td align="right">
                          <b>
                          4
                          </b>
                        </td></tr></table>
                    </li>

                </ul>
            </div>
        </div>
    </div>



    <div class="row justify-content-md-center seed-table">
        <div class="col-md-4">
            <div class="card bg-primary mb-3">
                <h4 class="card-header text-white">Cold League Playoff Seeds</h4>

                <ul class="list-group list-group-flush">

                    <li class="list-group-item scoreboard-panel" id="scoreboard-panel-livecells1">
                        <table width="100%"><tr><td>
                          <span class="seed1color seed1name">Alewife Arsonists</span>
                        </td><td align="right">
                          <b>
                          1
                          </b>
                        </td></tr></table>
                    </li>

                    <li class="list-group-item scoreboard-panel" id="scoreboard-panel-livecells1">
                        <table width="100%"><tr><td>
                          <span class="seed1color seed1name">Orlando Business Majors</span>
                        </td><td align="right">
                          <b>
                          2
                          </b>
                        </td></tr></table>
                    </li>

                    <li class="list-group-item scoreboard-panel" id="scoreboard-panel-livecells1">
                        <table width="100%"><tr><td>
                          <span class="seed1color seed1name">San Diego Balloon Animals</span>
                        </td><td align="right">
                          <b>
                          3
                          </b>
                        </td></tr></table>
                    </li>

                    <li class="list-group-item scoreboard-panel" id="scoreboard-panel-livecells1">
                        <table width="100%"><tr><td>
                          <span class="seed1color seed1name">Detroit Grape Chews</span>
                        </td><td align="right">
                          <b>
                          4
                          </b>
                        </td></tr></table>
                    </li>

                </ul>
            </div>
        </div>
    </div>


</div>

{% endblock %}
