{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="row text-center landing-header">
      <div class="col-md-12">
        <h2>Season 1: League Division Series</h2>
        <h4>The series will begin soon!</h4>
      </div>
    </div>


    <div class="row justify-content-md-center">
      <div class="col-md-4">

        <h4 class="text-center">Hot League</h4>

        {% include "scheduled_postgame.html" %}

        {% include "scheduled_postgame.html" %}

      </div>


      <div class="col-md-4">

        <h4 class="text-center">Cold League</h4>

        {% include "scheduled_postgame.html" %}

        {% include "scheduled_postgame.html" %}

      </div>

    </div>

    <div class="row text-center landing-header-below">
      <div class="col-md-12">
        <h2>Postseason Seeds</h2>
      </div>
    </div>

    <div class="row justify-content-md-center seed-table">
      <div class="col-lg-4">
          <h3 class="text-center">Hot League Seeds</h3>

          <ul class="list-group">

            <li class="list-group-item d-flex justify-content-between align-items-center">
              San Diego Balloon Animals
              <span class="badge badge-primary badge-pill seed-number">1</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
              Alewife Arsonists
              <span class="badge badge-primary badge-pill seed-number">2</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
              Baltimore Texas
              <span class="badge badge-primary badge-pill seed-number">3</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
              Detroit Grape Chews
              <span class="badge badge-primary badge-pill seed-number">4</span>
            </li>

          </ul>

      </div>


      <div class="col-lg-1">
      </div>


      <div class="col-lg-4">
          <h3 class="text-center">Cold League Seeds</h3>

          <ul class="list-group">

            <li class="list-group-item d-flex justify-content-between align-items-center">
              San Diego Balloon Animals
              <span class="badge badge-primary badge-pill seed-number">1</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
              Alewife Arsonists
              <span class="badge badge-primary badge-pill seed-number">2</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
              Baltimore Texas
              <span class="badge badge-primary badge-pill seed-number">3</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
              Detroit Grape Chews
              <span class="badge badge-primary badge-pill seed-number">4</span>
            </li>

          </ul>

      </div>

    </div>




</div>

{% endblock %}
